/* -----------------------------------------images */
.cannebiere{
    background-image: url(images/hebergements/cannebiere.jpg);
}
.hotelPort{
    background-image: url(../images/hebergements/small/hotelport.jpg);
}
.hotelAmina{
    background-image: url(../images/hebergements/small/hotelamina.jpg);
}
.hotelSoleil{
    background-image: url(../images/hebergements/small/hotelsoleil.jpg);
}

.hotelMouettes{
    background-image: url(../images/hebergements/small/hotelMouettes.jpg);
}
.hotelMer{
    background-image: url(../images/hebergements/small/hotelmer.jpg);
}
.aubergePanier{
    background-image: url(../images/hebergements/small/aubergepanier.jpg);
}

.aucoeurdeleau{
    background-image: url(../images/hebergements/small/aucoeurdeleau.jpg);
}
.hotelBleuBlanc{
    background-image: url(../images/hebergements/small/hotelbleublanc.jpg);
}

.vieuxPort{
    background-image: url(../images/activites/small/vieuxport.jpg);
}
.ileFrioul{
    background-image: url(../images/activites/small/ilefrioul.jpg);
}
.fortPomegues{
    background-image: url(../images/activites/small/fortpomegues.jpg);
}

.parcCalanques{
    background-image: url(../images/activites/small/parcalanques.jpg);
}
.notreDame{
    background-image: url(../images/activites/small/notredame.jpg);
}
.parcLongchamp{
    background-image: url(../images/activites/small/parclongchamp.jpg);
}

.imgRecherche{
    width: 240px;
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgPop{
    width: 130px;
    height: 140px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.imgActivites{
    width: 290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* -----------------------------------------general 1 */

body{
    margin: 5px;
    padding-right: 10px;
}
main{
    max-width: 1340px;
    margin: 0 auto;
}

body, input, button, footer{
    font-family: 'Raleway', sans-serif;
}
/* -----------------------------------------------general 2 */

h2{
    margin: 0;
    font-weight: bold;
}
h3{
    font-size: 1rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065FC;
}

/*-------------------------------- HEADER ---------------------------------*/
header{
    display: flex;
    flex-wrap: wrap;
}
nav{
    flex: 1;
    display: flex;

    justify-content: flex-end;
    
}
nav a{
    width: 162px;
    text-align: center;
    padding-top: 48px;
    border-top: 3px solid #F2F2F2;
}
.topmenu nav a:hover{
    border-color: #0065FC;
}
header span{
    padding-right: 28px;
    padding-top: 48px;
}
header span a{
    color: #0065FC;
    font-weight: bold;
}
header img{
    padding: 47px 0;
}
.legende{
    flex-basis: 100%;
    margin-bottom: 25px;
}

/*----------------------RECHERCHE-----------------------------*/

.recherche{
    margin-bottom: 35px;
}
.champRecherche{
    display: flex;
    margin-bottom: 5%;
}
.fa-map-marker-alt{
    padding: 16.5px 19px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

input[type=text]{
    width: 230px;
    height: 50px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    font-size: 16px;
}

input[type=submit]{
    width: 130px;
    height: 50px;
    border: none;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    
}
input[type=submit]:hover{
    color: #0065FC;
    cursor: pointer;
    background-color: white;
    border: 1px solid #F2F2F2;
}

.filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filtre h2{
    margin-right: 30px;
}
.filtre button{
    display: flex;
    cursor: pointer;
    align-items: center;

    height: 50px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 24px;
    outline: none;
    
}
.buttonfilter{
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
}
.filtre button:hover .icone{
    color: black;
    
    border-color: #F2F2F2;
}
.filtre button:hover{
    border-color: #DEEBFF;
}

.fas fa-info-circle{
    color: blue;
}
/*----------------------RESULTATS-----------------------*/

.resultats{
    margin-bottom: 60px;
}

.resultatshebergement{
    display: flex;
    flex-direction: column;
    max-width: 880px;
    padding: 40px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.resultatsRecherche h2, .afficherPlus{
    padding-left: 40px;
}
.afficherPlus{
    font-size: 1.06rem;
    font-weight: bold;
}
.resultatsPop{
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    padding: 40px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.resultatsrecherche{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.imgRecherche{
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgPop{
    width: 80%;
    height: 130px;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.hotelprincipaux{
    margin: 15px 0;
}
/*----------------------FOOTER-------------------------*/


.sectionFooter{
    flex-direction: column;
}
footer h3{
    padding: 46px 0 9px 0;
}
.sectionFooter div{
    margin-right: 0;
    margin-left: 20px;
    padding-bottom: 0;
}
